<div class="owl-carousel">
    {% for slide in slides %}
    <div class="item">
        <img src="{{asset('img/slides/uploads/'~slide.slideImage|thumb(845, 300))}}" height="300" width="845">
    </div>
    {% endfor %}
</div>