<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <meta name="theme-color" content="#3BB74B">
        <meta name="msapplication-navbutton-color" content="#3BB74B" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#3BB74B">
        
        <link rel="alternate" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'hy'})) }}" hreflang="hy" />
        <link rel="alternate" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" hreflang="en" />
        {#<link rel="alternate" href="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" hreflang="ru" />#}
        
        {% block meta %}{% endblock %}
        
        <title>{% block title %}{% trans %}Բանկ Ինֆո{% endtrans %}{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" />
            <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />
            <link href="{{asset('css/bootstrap-fix.css')}}" rel="stylesheet" />
            <link href="{{asset('css/datatables/datatables.css')}}" rel="stylesheet" />
            <link href="{{asset('css/datatables/rowReorder.dataTables.min.css')}}" rel="stylesheet" />
            <link href="{{asset('css/bank-logos.css')}}" rel="stylesheet" />
            <link href="{{asset('css/styles.css')}}" rel="stylesheet" />

        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}{% include('elements/header.html.twig') %}{% endblock %}
        
        {% for flash_message in app.session.flashBag.get('notice') %}<div class="container no-padding"><div class="flash-message flash-notice"><div class="alert alert-success" style="margin-bottom: 0px; border-radius: 0px;">{{ flash_message }}</div></div></div>{% endfor %}
        {% for flash_message in app.session.flashBag.get('warning') %}<div class="container no-padding"><div class="flash-message flash-warning"><div class="alert alert-warning" style="margin-bottom: 0px; border-radius: 0px;">{{ flash_message }}</div></div></div>{% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}<div class="container no-padding"><div class="flash-message flash-error"><div class="alert alert-danger" style="margin-bottom: 0px; border-radius: 0px;">{{ flash_message }}</div></div></div>{% endfor %}
        
        <main class="container">
            <div class="row">
                <div class="col-md-3 right-bar visible-sm visible-xs">
                {% block left_bar %}{% include 'elements/right_bar.html.twig' %}{% endblock %}
                </div>
                <div class="col-md-9 content">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-3 right-bar hidden-sm hidden-xs">
                {% block right_bar %}{% include 'elements/right_bar.html.twig' %}{% endblock %}
                </div>
            </div>
        </main>
        {% block footer %}{% include('elements/footer.html.twig') %}{% endblock %}
        <script src="{{asset('js/jquery_3_1_1.min.js')}}" type="text/javascript"></script>

        <script>var systemLocale = "{{ app.request.locale }}";</script>
        {% block javascripts %}
            <script src="{{asset('js/bootstrap.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('js/scripts.js')}}" type="text/javascript"></script>
        {% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-85359608-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
