<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="theme-color" content="#3BB74B">
        
        <title>{% block title %}Բանկ Ինֆո{% endblock %}</title>
        
        {% block stylesheets %}
        
            <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" />
            <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />
            <link href="{{asset('css/bootstrap-fix.css')}}" rel="stylesheet" />

            <link href="{{asset('css/datatables/datatables.css')}}" rel="stylesheet" />
            <link href="{{asset('css/datatables/rowReorder.dataTables.min.css')}}" rel="stylesheet" />

            <link href="{{asset('css/bank-logos.css')}}" rel="stylesheet" />
{#            <link href="{{asset('css/rangeslider.css')}}" rel="stylesheet" />#}
{#            <link href="{{asset('css/skins/square/green.css')}}" rel="stylesheet" />#}
            <link href="{{asset('css/styles.css')}}" rel="stylesheet" />
        
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
{#        {% block header %}{% include('elements/header.html.twig') %}{% endblock %}#}
        
        <main class="container">
            <div class="row">
                <div class="col-md-9 content">
                    {% block body %}{% endblock %}
                </div>
                {% block right_bar %}{% include 'elements/right_bar.html.twig' %}{% endblock %}
            </div>
        </main>
        <script src="{{asset('js/jquery_3_1_1.min.js')}}" type="text/javascript"></script>
        {% block javascripts %}
            <script src="{{asset('js/scripts.js')}}" type="text/javascript"></script>
        {% endblock %}
        
    </body>
</html>
