{% extends 'base.html.twig' %}
{% block title %}{{ page.pageTitle }} | {{ parent() }}{% endblock %}

{% set ogImage = "" %}
{% if page.pageOgImage is not empty %}
    {% set ogImage = 'img/pages/uploads/'~page.pageOgImage|thumb(1200,630) %}
{% endif %}

{% 
    set metaParams = {
        'title': page.pageTitle,
        'description': page.pageMetaDescription,
        'keywords': page.pageMetaKeywords,
        'ogImage': ogImage
    }
%}

{% block meta %}
    {% include 'elements/meta.html.twig' with metaParams %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{asset('css/rangeslider.css')}}" rel="stylesheet" />
    <link href="{{asset('css/skins/square/green.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
<h2 class="content__title">{{ page.pageTitle }}</h2>
<div class="gap-20"></div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{% trans %}Ավանդի գումարը{% endtrans %}</label>
                    <input type="number" name="deposit_amount" class="form-control" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{% trans %}Տոկոսագումար{% endtrans %}</label>
                    <input type="number" name="percent_per_year" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{% trans %}Ավանդի արժույթը{% endtrans %}</label>
                    <select class="form-control" name="currency">
                        <option value="AMD">AMD</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="RUB">RUB</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>{% trans %}Ժամկետ{% endtrans %} <sub>({% trans %}օր{% endtrans %})</sub></label>
                    <input type="number" name="deposit_days" class="form-control" style="margin-top: 4px;">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="gap-10"></div>
                    <input type="range" name="deposit_range" min="0" max="1825" value="0">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" class="btn btn-success dc-cout width-p-100" value="{% trans %}Հաշվել{% endtrans %}">
                </div>
            </div>
        </div>
        <div class="gap-40"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="row deposit-results hidden">
                    <div class="col-md-6">
                        <h4 class="text-underline">{{ 'Դուք կաստանաք`'|trans }}</h4>
                        <p>{{ 'Ընդամենը՝'|trans }} <b class="deposit-total"></b> <span class="deposit-currency"></span></p>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-underline">{{ 'Որից`'|trans }}</h4>
                        <p><b class="deposit-percent"></b> <span class="deposit-currency"></span> {{ 'Կուտակած տոկոսագումար'|trans }}</p>
                        <p> - <b class="deposit-tax"></b> <span class="deposit-currency"></span> {{ 'Եկամտային Հարկ'|trans }}</p>
                        <p><b class="deposit-initial"></b> <span class="deposit-currency"></span> {{ 'Մայր գումար'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-40"></div>
        <div class="row">
            <div class="col-md-12">
                {{ page.pageText|raw }}
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
        <script src="{{asset('js/rangeslider.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('js/icheck.min.js')}}" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                
                $('.dc-cout').on('click', function(e){
                    
                    e.preventDefault();
                    
                    var depositAmount = parseInt($('input[name=deposit_amount]').val());
                    var percentPerYear = parseInt($('input[name=percent_per_year]').val());
                    var currency = $('select[name=currency]').val();
                    var depositDays = parseInt($('input[name=deposit_days]').val());
                    
                    var depositPercent = (depositAmount * (percentPerYear / 100)) / 365 * depositDays;
                    
                    var profitTax = (depositPercent * 0.1).toFixed(2);
                    
                    $('.deposit-total').html(((depositAmount + depositPercent).toFixed(2)) - profitTax);
                    $('.deposit-percent').html((depositPercent).toFixed(2));
                    $('.deposit-tax').html(profitTax);
                    $('.deposit-initial').html(depositAmount);
                    
                    $('.deposit-currency').html(currency);
                    
                    $('.deposit-results').removeClass('hidden');
                    
                });
                
            });
        </script>
    {{ parent() }}
{% endblock %}