{% extends 'base.html.twig' %}
{% block title %}{{ page.pageTitle }} | {{ parent() }}{% endblock %}

{% set ogImage = "" %}
{% if page.pageOgImage is not empty %}
    {% set ogImage = 'img/pages/uploads/'~page.pageOgImage|thumb(1200,630) %}
{% endif %}

{% 
    set metaParams = {
        'title': page.pageTitle,
        'description': page.pageMetaDescription,
        'keywords': page.pageMetaKeywords,
        'ogImage': ogImage
    }
%}

{% block meta %}
    {% include 'elements/meta.html.twig' with metaParams %}
{% endblock %}

{% block body %}
<h2 class="content__title">{{ page.pageTitle }}</h2>
<div class="gap-20"></div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="toolbox-credit-calculator">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Վարկի գումարը{% endtrans %}</label>
                        <input type="number" name="tbcc-amount" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Տարեկան տոկոսադրույք{% endtrans %}</label>
                        <input type="number" name="tbcc-percent" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Վարկի ժամկետ ամիսներով{% endtrans %}</label>
                        <input type="number" name="tbcc-terms" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{% trans %}Մարման Տեսակ{% endtrans %}</label>
                        <select class="form-control" name="tbcc-type">
                            <option value="0">{% trans %}Հավասար մարում (Անուիտետ){% endtrans %}</option>
                            <option value="1">{% trans %}Հավասար վարկ (Նվազող %){% endtrans %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" class="tbcc-count btn btn-success width-p-100" value="{% trans %}Հաշվել{% endtrans %}">
                </div>
            </div>
        </form>
        <div class="gap-40"></div>

        <div class="row">
            <div class="col-md-12">
                <table class="content__table highlightable tbcc-results hidden">	
                    <thead>
                        <tr>
                            <td>ՀՀ</td>
                            <td>Վարկի մնացորդ</td>
                            <td>Վճարվող տոկոսագումար</td>
                            <td>Մարում վարկից</td>		
                            <td>Ընդամենը վճարում</td>			
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/toolbox-credit-calculator.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $('.toolbox-credit-calculator').toolboxCreditCalculator();
        });
    </script>
{% endblock %}