{% for rate in cbaRates %}
<tr>
    <td>{{ rate.currency }}</td>
    <td>{{ rate.date }}</td>
    <td>{{ rate.rate }}</td>
    {% if rate.rate_difference > 0 %}
    <td class="trend-positive">+{{ rate.rate_difference }}</td>
    {% elseif rate.rate_difference == 0 %}
    <td>{{ rate.rate_difference }}</td>
    {% else %}
    <td class="trend-negative">{{ rate.rate_difference }}</td>
    {% endif %}
</tr>
{% endfor %}